.animation-line {
    width: 0; /* Начальная ширина */
    animation: loadingLine 2s linear infinite;
}

@keyframes loadingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  70% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
